<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.colg.dao.SeckillMapper">
  <resultMap id="BaseResultMap" type="cn.colg.entity.Seckill">
    <id column="seckill_id" jdbcType="VARCHAR" property="seckillId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from seckill
    where seckill_id = #{seckillId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.colg.entity.Seckill">
    insert into seckill (seckill_id, name, number, 
      start_time, end_time, create_time
      )
    values (#{seckillId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.colg.entity.Seckill">
    update seckill
    set name = #{name,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where seckill_id = #{seckillId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select seckill_id, name, number, start_time, end_time, create_time
    from seckill
    where seckill_id = #{seckillId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select seckill_id, name, number, start_time, end_time, create_time
    from seckill
  </select>
  <resultMap id="BaseResultMap" type="cn.colg.entity.Seckill">
    <id column="seckill_id" jdbcType="VARCHAR" property="seckillId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from seckill
    where seckill_id = #{seckillId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.colg.entity.Seckill">
    insert into seckill (seckill_id, name, number, 
      start_time, end_time, create_time
      )
    values (#{seckillId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.colg.entity.Seckill">
    update seckill
    set name = #{name,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where seckill_id = #{seckillId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select seckill_id, name, number, start_time, end_time, create_time
    from seckill
    where seckill_id = #{seckillId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select seckill_id, name, number, start_time, end_time, create_time
    from seckill
  </select>
</mapper>