<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.colg.dao.SeckillMapper">
	<resultMap id="BaseResultMap" type="cn.colg.entity.Seckill">
		<id column="seckill_id" jdbcType="VARCHAR" property="seckillId" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="number" jdbcType="INTEGER" property="number" />
		<result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
		<result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>
	
	<update id="reduceNumber">
		UPDATE seckill
		SET number = number - 1
		WHERE seckill_id = #{seckillId}
		AND start_time &lt;= #{killTime}
		AND end_time &gt;= #{killTime}
		AND number &gt; 0
	</update>
	
	<select id="findById" resultType="cn.colg.entity.Seckill">
		SELECT s.*
		FROM seckill s
		WHERE s.seckill_id = #{seckillId}
	</select>
	
	<select id="querySeckill" resultType="cn.colg.entity.Seckill">
		SELECT s.*
		FROM seckill s
		ORDER BY s.create_time DESC
		LIMIT #{offet}, #{limit}
	</select>
	
	<select id="findNameById" resultType="String">
		SELECT s.name
		FROM seckill s
		WHERE s.seckill_id = #{seckillId}
	</select>
</mapper>